@font-face {
  font-family: "Inter Regular";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata Bold";
  src: url("./assets/fonts/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata Regular";
  src: url("./assets/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora Regular";
  src: url("./assets/fonts/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora Regular";
  src: url("./assets/fonts/Lora-Regular.ttf") format("truetype");
}

:root {
  /* colors */
  --purple: #a445ed;
  --red: #ff5252;
  --white: #ffffff;
  --grey-light: #f4f4f4;
  --grey-primary: #e9e9e9;
  --grey-dark: #757575;
  --black-1: #3a3a3a;
  --black-2: #2d2d2d;
  --black-3: #1f1f1f;
  --black-4: #050505;
  /* fonts */
  --mono-regular: "Inconsolata Regular", monospace;
  --mono-bold: "Inconsolata Bold", monospace;
  --serif-regular: "Lora Regular", serif;
  --serif-bold: "Lora Bold", serif;
  --sans-serif-regular: "Inter Regular", sans-serif;
  --sans-serif-bold: "Inter Bold", sans-serif;
  /* size */
  --heading-l: 64px;
  --heading-m: 24px;
  --heading-s: 20px;
  --body-m: 18px;
  --body-s: 14px;
  /* line-height */
  --heading-l-ln: 77px;
  --heading-m-ln: 29px;
  --heading-s-ln: 24px;
  --heading-l-ln: 24px;
  --heading-l-ln: 17px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--grey-light);
  color: var(--black-4);
}

img {
  user-select: none;
  background-color: transparent;
}

h1 {
  font-size: 64px;
  line-height: normal;
}

body {
  font-family: var(--sans-serif-regular);
}
